<!DOCTYPE html>
<html>
<head>
  <title>RobotanksJs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
   <script src="http://cdn.socket.io/stable/socket.io.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<%= javascript_include_tag "application" %>
</html>

